<h1>Listing cics</h1>

<table>
  <thead>
    <tr>
      <th>Presidency</th>
      <th>President</th>
      <th>Took office</th>
      <th>Left office</th>
      <th>Party</th>
      <th>Image</th>
      <th>State</th>
      <th>Term</th>
      <th>Biography</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cics.each do |cic| %>
      <tr>
        <td><%= cic.presidency %></td>
        <td><%= cic.president %></td>
        <td><%= cic.took_office %></td>
        <td><%= cic.left_office %></td>
        <td><%= cic.party %></td>
        <td><%= cic.image %></td>
        <td><%= cic.state %></td>
        <td><%= cic.term %></td>
        <td><%= cic.biography %></td>
        <td><%= link_to 'Show', cic %></td>
        <td><%= link_to 'Edit', edit_cic_path(cic) %></td>
        <td><%= link_to 'Destroy', cic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cic', new_cic_path %>
