<br /><br />
<div class = "vertical">
<table>
  <% @cics.each do |cic| %>     
    <tr class = "<%= cycle('list_line_odd', 'list_line_even' ) %>">
       <td>
         <%= image_tag(cic.image, class:'president_image') %>
       </td>
       <td class = "president_description">
        <dl>
           <dt><%= cic.presidency %></dt
>            <br />
           <dd><%= truncate(strip_tags(cic.biography), length: 80) %></dd>
        </dl>
       </td>
          
       <td class = "list_actions">
        <%= link_to 'Show', cic %><br />
       </td>
    </tr>
    <% end %>
</table>
</div>
<br />


