<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="refresh" content="2" />

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvxrtNIzHIO-kUxuK82OFKETpX9gBqkTg&amp;sensor=false">
</script>

<script type="text/javascript">
  
var geocoder;
var map;
function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);
  var mapOptions = {
    zoom: 8,
    center: latlng
  }
  map = new google.maps.Map(document.getElementById("map-position"), mapOptions);
}

function codeAddress() {
  var address = document.getElementById("step").innerHTML;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert("Geocode was not successful for the following reason: " + status);
    }
  });
}
window.onload = function() {
    initialize();
    codeAddress();
}
</script>


<h1 style="font-weight: 400px; color: #081073; letter-spacing: -0.03em; text-align: center; padding: 30px;"><%= @cic.president %></h1>
<br />
<div id = "overall">
  <div id = "show">
    <%= image_tag(@cic.image) %> 
  </div>
  <div id="map-position"></div>
  <div id = "stats">
      <p><strong>Took office:</strong><%= @cic.took_office %></p><br />
      <p><strong>Left office:</strong><%= @cic.left_office %></p><br />
      <p><strong>Political Party:</strong><%= @cic.party %></p><br />
      <p><strong>Number of Terms:</strong><%= @cic.term %></p>
  </div>
  <div id = "step1">
    <p><strong>State of origin:</strong><div id = "step"><%= @cic.state %></div></p>
  </div>
</div>
<form action="/bio/<%= @cic.id %>">
<input class="button-style2" type="submit" value="<%= @cic.president %>'s brief biography">
</form>
<form action="/cics">
<input class="button-style1" type="submit" value="Back">
</form>







