<% provide(:title, "Sign in") %>
<div class = "signup"><h1>Sign In</h1></div>
<div class = "sign_up"> 
  <fieldset>
    <legend>Please enter your details</legend> 
    <p><%= @error %></p>
         <%= form_for(:session, url: sessions_path) do |f| %>
           <br />
           <%= f.label :email, "Email ", style: "width:150px;" %>
           <%= f.text_field :email %>
           <br />
           <%= f.label :password, "Password ", style: "width:150px;" %>
           <%= f.password_field :password %>
           <br />
           <%= f.submit "Sign in" %>
          <% end %>
          <br />
          <p class = "adjust">Visiting for the first time? <%= link_to "Please register!", signup_path %></p>
  </fieldset>
</div>