<% provide(:title, "Edit user") %>
<div>

  <div>
  <h1>Update your profile</h1>
  </div>
  <div>
    <br/>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :firstname, "First Name:" %>
      <%= f.text_field :firstname %>
      <br/>
      <%= f.label :lastname, "Last name:" %>
      <%= f.text_field :lastname %>
      <br/>
      <%= f.label :username, "Username:" %>
      <%= f.text_field :username %>
      <br/>
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %>
      <br/>
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password %>
      <br/>
      <%= f.label :password_confirmation, "Confirm Password:" %>
      <%= f.password_field :password_confirmation %>
      <br/><br/>
      <%= f.submit "Save changes", class: "button-style" %><br/><br/>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change image if you want</a>
  </div>
</div>