<!DOCTYPE html>
<html>
<head>
  <title>Presidents | <%=@title %></title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class ='<%= controller.controller_name %>'>
  <div id = "banner">
    <%= @page_title || "MEET THE PRESIDENTS" %>
  </div>

<div id = "columns">
  <div id ="side">
      <ul>
         <br />
         <% if signed_in? %>
         <li><%= link_to "Home", home_path %></li>
         <br />
         <li><%= link_to "Profile", current_believer %></li>
         <br />
         <li><%= link_to "Settings"%></li>
         <br />
         <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
         <% else %>
          <li><%= link_to "Intro", root_path %></li>
          <br />
          <li><%= link_to "Sign in", signin_path %></li>
         <% end %>
         <br />
      </ul>
     <br />
     <div id = "error">
        <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
 </div>
 <div id = "main"> 
  <%= yield %>
 </div>
  
</div>
</body>
</html>
